<a href="/posts/index">Create a Post</a> | <a href="/users/logout">Logout</a>

<table>
  <tr>
    <td>Name:</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Alias:</td>
    <td><%= @user.alias %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>
<hr>
<h4>Total Number of Posts: <%= @user.posts.count %></h4>
<h4>Total Number of Likes: <%= @user.likes.count %></h4>
