<a href="/posts/index">Create a Post</a> | <a href="/users/logout">Logout</a>
<p><a href="/posts/<%= @post.user.id %>"><%= @post.user.name %></a> says:</p>
<p><%= @post.content %></p>

<h3>People who liked this post</h3>
<table>
  <tr>
    <th>Alias</th>
    <th>Name</th>
  </tr>
  <% @post.users_liked.each do |like| %>
  <tr>
    <td><a href="/users/<%= like.id %>"><%= like.alias %></a></td>
    <td><%= like.name %></td>
  </tr>
  <% end %>
</table>
